article {
  border: transparent solid 1px;
  height: 480px;
  background-image: url("../../img/hero.jpg");
  background-position: right center;
  background-size: cover;
}

article div {
  background-color: #fff;
  width: 382px;
  height: 296px;
  border: none;
  border-radius: 5px;
  margin: 70px 970px 70px 125px;
  padding: 35px 30px 30px 35px;
}

article p {
  font-size: 40px;
  margin-top: 20px;
  margin-right: 40px;
}

article button {
  font-family: M;
  margin-top: 80px;
  font-size: 20px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #017580;
  color: white;
}
