@font-face {
  font-family: "M";
  src: url("./fonts/Font.eot");
  src: url("./fonts/Font.eot?#iefix") format("./fonts/embedded-opentype"),
    url("./fonts/Font.woff2") format("woff2"),
    url("./fonts/Font.woff") format("woff"),
    url("./fonts/Font.ttf") format("truetype"),
    url("./fonts/Font.svg#Font") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.App {
  font-family: M;
}
